
// Color Variables
$primary-color: #5F7A8C;
$secondary-color: #fdefe6;
$danger-color: #E47777;
$text-color: #909090;
$text-color-dark: #2F2F2F;
$text-color-light: #B1B1B1;
$body-color: #F4F4F4;
$border-color: #ababab;
$black: #000;
$white: #fff;
$gray: #eaeaea;

// Font Variables
$primary-font: 'Hans Kendrick';
$secondary-font: 'Open Sans', sans-serif;