@font-face {
    font-family: Hans Kendrick;
    src: url(../fonts/hanskendrick-regular-webfont.woff2);
  }

$font-family-sans-serif: "Hans Kendrick";
$font-family-base: "Hans Kendrick";


body {
    font-family: $font-family-base;
}